/*
|===================================
|         About Us Section 
|===================================
*/

.about-us-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px 0;
}
@media only screen and (min-width: 768px) {
  .about-us-section {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-us-section {
    flex-direction: row;
    padding-left: 60px;
    padding-right: 60px;
    gap: 24px;
    margin-bottom: 100px;
    align-items: center;
  }
}
.about-us-container {
  padding-left: 16px;
  padding-right: 16px;
  background: var(--light-blue, #f7faff);
}
@media only screen and (min-width: 768px) {
  .about-us-container {
    padding: 36px 64px;
    max-width: 704px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-us-container {
    padding: 36px 69px 34px;
    max-width: 760px;
  }
}
.about-us-title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.about-us-title::before {
  content: '';
  display: block;
  width: 30px;
  height: 1px;
  border-radius: 2px;
  background-color: var(--blue-font, #0a224a);
}

.about-us-subtitle {
  width: 100%;
  color: var(--blue-font, #0a224a);
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .about-us-subtitle {
    max-width: 576px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-us-subtitle {
    max-width: 622px;
  }
}

.about-us-text {
  width: 100%;
  color: var(--blue-font, #0a224a);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .about-us-text {
    max-width: 576px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-us-text {
    max-width: 622px;
  }
}

.about-us-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 61px;
}
@media only screen and (min-width: 768px) {
  .about-us-list {
    width: 576px;
    flex-direction: row;
    height: 170px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 33px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .about-us-list {
    gap: 55px;
  }
}
.about-us-list-item {
  width: 170px;
  color: var(--blue-font, #0a224a);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about-us-animation {
  display: block;
  width: 170px;
  height: 75px;
  flex-shrink: 0;
  color: var(--blue-font, #0a224a);
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 75px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .about-us-animation {
    display: inline-block;
    margin-bottom: 8px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-us-animation {
    margin-bottom: 19px;
  }
}

.about-us-img-container {
  min-width: 320px;
}
@media only screen and (min-width: 768px) {
  .about-us-bg-img {
    width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-us-bg-img {
    max-width: 536px;
    height: 100%;
  }
}
.about-us-img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .about-us-img {
    width: 768px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-us-img {
    width: 100%;
  }
}
