.bestsellers-section {
  margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .bestsellers-section {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .bestsellers-wrapper {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
}

.bestsellers-main-picture {
  width: 100%;

  margin-bottom: 30px;
}

@media only screen and (min-width: 375px) {
  .bestsellers-main-picture {
    width: 343px;
  }
}

@media only screen and (min-width: 768px) {
  .bestsellers-main-picture {
    width: 704px;

    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .bestsellers-main-picture {
    width: 536px;

    margin-bottom: 0;
  }
}

.bestsellers-title {
  color: var(--blue-font, #0a224a);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 21px;
}

@media only screen and (min-width: 768px) {
  .bestsellers-title {
    color: var(--blue-font, #0a224a);
    font-size: 32px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;

    margin-bottom: 30px;
  }
}

.bestsellers-img {
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .bestsellers-img {
    margin-bottom: 15px;
  }
}

.bestsellers-subtitle {
  color: var(--blue-font, #0a224a);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .bestsellers-subtitle {
    font-size: 18px;
  }
}

.bestsellers-text {
  color: var(--blue-font, #0a224a);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .bestsellers-text {
    font-size: 18px;
  }
}

.bestsellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media only screen and (min-width: 768px) {
  .bestsellers-list {
    gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .bestsellers-list {
    display: flex;
    column-gap: 20px;
    row-gap: 30px;

    width: 536px;
  }
}

.bestsellers-item {
  width: 100%;
}

@media only screen and (max-width: 767.98px) {
  .bestsellers-item:nth-last-child(-n + 2) {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .bestsellers-item {
    width: calc((100% - 32px) / 2);
  }
}

@media only screen and (min-width: 1440px) {
  .bestsellers-item {
    width: calc((100% - 20px) / 2);
  }
}
