/* .section-hero {
} */
.section-hero .section-hero-container {
  height: 717px;
  min-width: 320px;

  padding-top: 140px;
  /* padding-bottom: 313px; */
  padding-left: 16px;
  padding-right: 16px;

  background-image: url(../../img/hero-bg_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-resolution: 192dpi) {
  .section-hero-container {
    background-image: url(../../img/hero-bg_mobile@2x.jpg);
  }
}

.section-hero-title {
  color: var(--blue-font);

  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;

  margin-bottom: 14px;

  width: 288px;
}
.section-hero-text {
  color: var(--blue-font);

  font-family: Roboto;
  line-height: 1.5;

  margin-bottom: 28px;
}
.section-hero-btn {
  background-color: var(--blue-font, #0a224a);
  padding: 0;
  border: 0px;
  min-width: 224px;
}

.section-hero-anchor {
  display: block;

  font-family: Roboto;
  text-decoration: none;
  line-height: 1.5;
  padding: 12px;

  color: var(--white, #fff);
}
