/* section-hero */
.section-hero .section-hero-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 767.98px) {
  .section-hero .section-hero-container {
    height: 717px;

    background-image: url(../../img/hero/hero-bg_mobile.jpg);

    padding-top: 140px;
  }
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767.98px) {
  .section-hero .section-hero-container {
    background-image: url(../../img/hero/hero-bg_mobile@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .section-hero .section-hero-container {
    padding-top: 3px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439.98px) and (min-resolution: 192dpi) {
  .section-hero .section-hero-container {
    background-image: url(../../img/hero/hero-bg_tablet@2x.jpg),
      url(../../img/hero/hero-bg-second_tablet@2x.jpg);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .section-hero .section-hero-container {
    background-image: url(../../img/hero/hero-bg_tablet.jpg),
      url(../../img/hero/hero-bg-second_tablet.jpg);
    background-size: 364px, 308px;
    background-position: top 0px right 32px, left 32px top 201px;
  }
}

@media only screen and (min-width: 1440px) {
  .section-hero .section-hero-container {
  }
}

.section-hero-title {
  color: var(--blue-font);

  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;

  margin-bottom: 14px;
}
.section-hero-text {
  color: var(--blue-font);

  font-family: Roboto;

  line-height: 1.5;
}
.section-hero-btn {
  background-color: var(--blue-font, #0a224a);
  padding: 0;
  border: 0px;
  min-width: 224px;
}

.section-hero-btn:hover,
.section-hero-btn:focus {
  background-color: #061835;
}

.section-hero-anchor {
  display: block;

  font-family: Roboto;
  text-decoration: none;
  padding: 12px;

  color: var(--white, #fff);
}

@media only screen and (max-width: 767.98px) {
  .section-hero-title {
    font-size: 28px;

    width: 288px;
  }

  .section-hero-text {
    margin-bottom: 28px;
  }

  .section-hero-anchor {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 768px) {
  .section-hero-title {
    font-size: 50px;
  }

  .section-hero-text {
    font-size: 18px;
    width: 312px;
    margin-bottom: 30px;
  }

  .section-hero-anchor {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .section-hero-title {
    margin-bottom: 410px;
  }

  .section-hero-text {
  }

  .section-hero-anchor {
  }
}
