.footer {
  position: relative;
}

.footer .footer-container {
  background-color: var(----bluefont, #0a224a);
}

@media only screen and (max-width: 767.98px) {
  .footer .footer-container {
    padding-bottom: 16px;
    padding-top: 42px;
  }
}

@media only screen and (min-width: 768px) {
  .footer .footer-container {
    padding-bottom: 36px;
    padding-top: 48px;
  }
}

.footer-logo {
  fill: var(--white);
  display: inline-block;

  height: 16px;
}

@media only screen and (max-width: 767.98px) {
  .footer-logo {
    margin-bottom: 42px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer-logo {
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-logo {
    margin-bottom: 39px;
  }
}

.footer-site-nav {
  display: flex;

  color: var(--white);

  font-family: Roboto;
  line-height: 1.5;
}

@media only screen and (max-width: 767.98px) {
  .footer-site-nav {
    gap: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-site-nav {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer-site-nav {
    gap: 16px;
  }
}

@media only screen and (max-width: 1439.98px) {
  .footer-site-nav {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-site-nav {
    gap: 39px;
  }
}

.footer-social-links_svg {
  display: flex;

  position: absolute;
  top: 36px;
}

.footer-social-links_svg svg {
  fill: var(--white);
}

@media only screen and (max-width: 767.98px) {
  .footer-social-links_svg {
    right: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer-social-links_svg {
    right: 32px;
  }
}

@media only screen and (max-width: 1439.98px) {
  .footer-social-links_svg {
    gap: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-social-links_svg {
    gap: 30px;
    right: 60px;
  }
}

.footer-address-list {
  color: var(--white);

  font-style: normal;
  font-family: Roboto;
}

/* @media only screen and (max-width: 767.98px) {
  .footer-address-list {
  }
} */

@media only screen and (min-width: 768px) {
  .footer-address-list {
    font-size: 19px;
  }
}

.footer-address-maplink {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}
.footer-address-worktime {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}
.footer-tel {
}
.footer-telephone {
}
.footer-address-mail {
}

.footer-text-agreement {
  color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.08em;

  opacity: 0.6;
}

.terms-and-policy {
  text-decoration: underline;
}

@media only screen and (min-width: 375px) and (max-width: 767.98px) {
  .footer-text-agreement {
    width: 343px;
  }
}

@media only screen and (max-width: 767.98px) {
  .mobile-hideout {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
