/* hover/focus styles */

.footer-logo:hover svg,
.footer-logo:focus svg {
  fill: #d9d9d9;
}

.footer-social-link:focus svg,
.footer-social-link:hover svg {
  fill: #a4ff11;
}

.footer-site-nav a:hover,
.footer-site-nav a:focus {
  color: #d9d9d9;
}

.footer-address-maplink:hover,
.footer-address-maplink:focus {
  color: #d9d9d9;
}

.footer-telephone:hover,
.footer-telephone:focus {
  color: #d9d9d9;
}

/* footer container styles */

.footer {
  background-color: var(--bluefont, #0a224a);
}

.footer .footer-container {
  position: relative;
}

/* mobile styles */

@media only screen and (max-width: 767.98px) {
  .footer .footer-container {
    padding-bottom: 16px;
    padding-top: 42px;
  }
}
/* tablet and desktop styles */

@media only screen and (min-width: 768px) {
  .footer .footer-container {
    padding-bottom: 36px;
    padding-top: 48px;
  }
}

/* upper-footer positioning */

.footer-upper-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* mobile styles */

@media only screen and (max-width: 767.98px) {
  .footer-upper-style {
    margin-bottom: 42px;
  }
}

/* tablet styles */

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer-upper-style {
    margin-bottom: 32px;
    height: 40px;
  }
}

/* desktop styles */

@media only screen and (min-width: 1440px) {
  .footer-upper-style {
    margin-bottom: 39px;
  }
}

/* upper-footer styles*/

.footer-logo svg {
  fill: var(--white);

  transition: fill 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-social-links_svg {
  display: flex;
}

.footer-social-links_svg svg {
  fill: var(--white);

  transition: fill 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* tablet styles */

@media only screen and (min-width: 768px) {
  .footer-social-links_svg svg {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 1439.98px) {
  .footer-social-links_svg {
    gap: 16px;
  }
}

/* desktop styles */

@media only screen and (min-width: 1440px) {
  .footer-social-links_svg {
    gap: 30px;
  }
}

/* anchor-list style */

.footer-site-nav {
  display: flex;

  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

.footer-site-nav a {
  color: var(--white);

  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* mobile styles */

@media only screen and (max-width: 767.98px) {
  .footer-site-nav {
    gap: 8px;

    margin-bottom: 36px;
  }
}

/* tablet styles */

@media only screen and (min-width: 768px) {
  .footer-site-nav {
    font-size: 18px;

    position: absolute;
    top: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer-site-nav {
    gap: 16px;

    left: 408px;
  }
}

@media only screen and (max-width: 1439.98px) {
  .footer-site-nav {
    flex-direction: column;
  }
}

/* desktop styles */

@media only screen and (min-width: 1440px) {
  .footer-site-nav {
    gap: 39px;
    left: 404px;
  }
}

/* address styles */

.footer-address-list {
  color: var(--white);

  font-style: normal;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.01em;
  line-height: normal;
}

/* tablet styles */

@media only screen and (min-width: 768px) {
  .footer-address-list {
    font-size: 19px;
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-address-position {
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer-address-position {
    margin-bottom: 64px;
  }
}

/* desktop */

@media only screen and (min-width: 1440px) {
  .footer-address-list {
    display: flex;
    gap: 87px;

    margin-bottom: 35px;
  }
}

/* footer maplink */

.footer-address-maplink {
  display: inline-block;

  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* mobile styles */

@media only screen and (max-width: 767.98px) {
  .footer-address-maplink {
    margin-bottom: 8px;
  }
}

/* tablet styles */

@media only screen and (min-width: 768px) {
  .footer-address-maplink {
    margin-bottom: 24px;
  }
}

.footer-tel {
  letter-spacing: 0.01em;
}

/* mobile styles */

@media only screen and (max-width: 767.98px) {
  .footer-tel {
    margin-bottom: 64px;
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-tel li:nth-child(odd) {
    margin-bottom: 8px;
  }
}

/* tablet styles */

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer-tel {
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-tel li:nth-child(odd) {
    margin-bottom: 24px;
  }
}

/* footer-tel */

.footer-telephone {
  display: inline-block;

  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* tablet styles */

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer-address-mail {
    display: inline-block;
    margin-bottom: 64px;
  }
}

/* footer-mail */

.footer-address-mail {
  block-size: 22px;
}

/* agreements styles */

.footer-text-agreement {
  color: var(--white);
  text-align: center;
  font-family: Roboto, sans-serif;

  opacity: 0.6;
}

.terms-and-policy {
  text-decoration: underline;
}

@media only screen and (min-width: 375px) and (max-width: 767.98px) {
  .footer-text-agreement {
    width: 343px;
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-text-agreement {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.08em;
  }
}

@media only screen and (min-width: 768px) {
  .footer-text-agreement {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.07em;
  }
}

/* hideout style for mail only on phones */

@media only screen and (max-width: 767.98px) {
  .mobile-hideout {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
