.header-border {
  background: #F7FAFF;
  display: flex;
width: 375px;
height: 88px;
padding: 28px 16px 28px 327px;
justify-content: flex-end;
align-items: center;
flex-shrink: 0;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
 
}
/* Dasktop styles */
@media screen and (min-width: 1440px) {
 .header-border{
  display: inline-flex;
padding: 26px 60px;
justify-content: center;
align-items: center;
gap: 572px;
 }
}
.container {
}
.nav-container {
}
.main-nav {
 
}
.header-logo {
  fill: black;
}
.nav-list {
 display: none;
}
.nav-item {
 
}
.nav-link {
}







