.newsletter-section {
  margin-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .newsletter-section {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .newsletter-section {
    margin-bottom: 86px;
  }
}

@media only screen and (min-width: 1440px) {
  .newsletter-left-side {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1440px) {
  .newsletter-right-side {
    display: flex;
  }
}

@media only screen and (min-width: 1440px) {
  .section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
}

.newsletter-header {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--blue-font);
  text-align: center;
  padding-bottom: 20px;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .newsletter-header {
    font-size: 32px;
    line-height: 1.4;
    text-align: start;
    padding-bottom: 30px;
  }
}

.newsletter-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--blue-font);
  padding-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .newsletter-text {
    font-size: 18px;
    max-width: 536px;
    padding-bottom: 20px;
  }
}

.newsletter-input-field {
  position: relative;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .newsletter-input-field {
    width: 536px;
  }
}

.newsletter-input {
  width: 343px;
  height: 50px;
  padding: 11px 46px 11px 20px;
  border: 1px solid var(--bc-medium);
  background-color: transparent;
  color: var(--blue-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  outline: transparent;
}

@media only screen and (min-width: 768px) {
  .newsletter-input {
    width: 536px;
  }
}

.newsletter-input-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) scale(0.2);
  fill: #e74a3b;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
    transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.newsletter-input::placeholder {
  color: var(--background);
}

.newsletter-input:focus {
  border-color: var(--blue-font);
  box-shadow: 0px 10px 10px 0px rgba(46, 47, 66, 0.08);
  transition: border-color 250ms cubic-bezier(0.21, 0.9, 0.82, 0.09),
    box-shadow 250ms cubic-bezier(0.21, 0.9, 0.82, 0.09);
}

.newsletter-input:not(:placeholder-shown):required:invalid {
  border-color: #e74a3b;
  color: #e74a3b;
  box-shadow: 0px 10px 10px 0px rgba(46, 47, 66, 0.08);
  transition: border-color 250ms cubic-bezier(0.21, 0.9, 0.82, 0.09),
    color 250ms cubic-bezier(0.21, 0.9, 0.82, 0.09),
    box-shadow 250ms cubic-bezier(0.21, 0.9, 0.82, 0.09);
}

.newsletter-input:not(:placeholder-shown):required:invalid
  ~ .newsletter-input-icon {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

@media only screen and (max-width: 374.98px) {
  .newsletter-input {
    max-width: 100%;
  }
}

.newsletter-agreement {
  display: flex;
  color: var(--bc-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .newsletter-agreement {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .newsletter-agreement {
    margin-bottom: 42px;
  }
}

.newsletter-agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid var(--bc-medium);
  background-color: transparent;
  margin-right: 8px;
}

.check-icon {
  opacity: 0;
  stroke: var(--white);
  fill: none;
  transition: stroke 250ms cubic-bezier(0.21, 0.9, 0.82, 0.09);
}

input[type='checkbox']:checked
  ~ .newsletter-agreement
  .newsletter-agreement-checkbox {
  background-color: var(--blue-font);
  border-color: var(--blue-font);
  transition: background-color 250ms cubic-bezier(0.21, 0.9, 0.82, 0.09),
    border-color 250ms cubic-bezier(0.21, 0.9, 0.82, 0.09);
}

input[type='checkbox']:checked
  ~ .newsletter-agreement
  .newsletter-agreement-checkbox
  .check-icon {
  transition: stroke 250ms cubic-bezier(0.21, 0.9, 0.82, 0.09);
  opacity: 1;
}

.newsletter-btn {
  padding: 13px 94px;
  min-width: 224px;
  max-width: 100%;
  height: 50px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--blue-font);
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .newsletter-btn {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .newsletter-btn {
    margin-bottom: 0;
  }
}

.newsletter-btn:hover,
.newsletter-btn:focus {
  background-color: #061835;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  transition: background-color 250ms cubic-bezier(0.21, 0.9, 0.82, 0.09),
    color 250ms cubic-bezier(0.21, 0.9, 0.82, 0.09),
    box-shadov 250ms cubic-bezier(0.21, 0.9, 0.82, 0.09);
}

@media only screen and (min-width: 1440px) {
  .newsletter-img {
    width: 460px;
  }
}
