
<section class="about-us-section" id="about-us">
  <div class="about-us-main-container container">

    <div class="about-us-container scale-up-center">
      <h2 class="about-us-title text-focus-in">About us</h2>
      <p class="about-us-subtitle text-focus-in">

        Our сraftsmanship: сreating unique handmade furniture
      </p>
      <p class="about-us-text text-focus-in">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="about-us-list text-focus-in">
        <li class="about-us-list-item">
          <span class="about-us-animation">5+</span>Years of experience creating
          handcrafted furniture
        </li>
        <li class="about-us-list-item">
          <span class="about-us-animation">100%</span> Sustainably sourced
          materials used in all of our furniture
        </li>
        <li class="about-us-list-item">
          <span class="about-us-animation">500+</span>Unique furniture designs
          crafted by our skilled artisans
        </li>
      </ul>
    </div>
    <div class="about-us-img-container scale-up-center">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/about-us/desktop/about-us.png    1x,
            ./img/about-us/desktop/about-us@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/about-us/tablet/about-us.png    1x,
            ./img/about-us/tablet/about-us@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/about-us/phone/about-us.png    1x,
            ./img/about-us/phone/about-us@2x.png 2x
          "
        />
        <img
          class="about-us-img text-focus-in"
          src="./img/about-us/desktop/about-us.png"
          alt="Stylish room with japanese tree and white sofa in it"
          width="536"
          height="540"
        />
      </picture>
    </div>



  </div>
</section>

