<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- CSS Styles -->
    <link rel="stylesheet" href="/css/sections/about_us.css" type="text/css" />
    <link rel="stylesheet" href="/src/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/src/css/reset.css" type="text/css" />
  </head>
  <body>
    <section class="about-us-section">
      <div class="about-us-container" id="about-us">
        <div>
          <h2 class="about-us-title" >About us</h2>
          <h2 class="about-us-subtitle">
            Our сraftsmanship: сreating unique handmade furniture
          </h2>
          <p class="about-us-text">
            Discover the inspiration behind our modern and minimalist designs,
            and see how we bring them to life through our skilled craftsmanship.
          </p>
          <ul class="about-us-list">
            <li class="about-us-list-item">
              <span class="about-us-animation">5+</span>Years of experience
              creating handcrafted furniture
            </li>
            <li class="about-us-list-item">
              <span class="about-us-animation">100%</span> Sustainably sourced
              materials used in all of our furniture
            </li>
            <li class="about-us-list-item">
              <span class="about-us-animation">500+</span>Unique furniture
              designs crafted by our skilled artisans
            </li>
          </ul>
        </div>
      </div>
      <div class="about-us-bg-img">
        <img
          srcset="
            /src/img/about-us/desktop/about-us.png    1x,
            /src/img/about-us/desktop/about-us@2x.png 2x
          "
          src="/src/img/about-us/desktop/about-us.png"
          alt="Stylish room with japanese tree and white sofa in it"
          class="about-us-img"
          width="536"
        />
      </div>
    </section>
  </body>
</html>
