<section class="bestsellers-section" id="bestsellers">
  <div class="container">
    <h2 class="bestsellers-title">Bestsellers</h2>
    <div class="bestsellers-wrapper">
      <div class="bestsellers-main-picture">
        <div class="backdrop-wrapper-first">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/bestsellers/img-1_desk.webp    1x,
                ./img/bestsellers/img-1_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/bestsellers/img-1_desk.jpg    1x,
                ./img/bestsellers/img-1_desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/bestsellers/img-1_tab.webp    1x,
                ./img/bestsellers/img-1_tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/bestsellers/img-1_tab.jpg    1x,
                ./img/bestsellers/img-1_tab@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767.98px)"
              srcset="
                ./img/bestsellers/img-1_mob.webp    1x,
                ./img/bestsellers/img-1_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767.98px)"
              srcset="
                ./img/bestsellers/img-1_mob.jpg    1x,
                ./img/bestsellers/img-1_mob@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="bestsellers-img"
              src="./img/bestsellers/img-1_tab.jpg"
              alt="Platform bed"
              width="704"
              height="489"
              loading="lazy"
            />
          </picture>
          <p class="backdrop-text-first">
            <span class="backdrop-subtext-first">Material:</span>Wood and soft
            finish made of natural material. <br />
            <span class="backdrop-subtext">Production time:</span> 1 week.
          </p>
        </div>
        <h3 class="bestsellers-subtitle-first">The modern platform bed</h3>
        <p class="bestsellers-text">750$</p>
      </div>
      <ul class="bestsellers-list">
        <li class="bestsellers-item">
          <div class="backdrop-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/bestsellers/img-2_desk.webp    1x,
                  ./img/bestsellers/img-2_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/bestsellers/img-2_desk.jpg    1x,
                  ./img/bestsellers/img-2_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/bestsellers/img-2_tab.webp    1x,
                  ./img/bestsellers/img-2_tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/bestsellers/img-2_tab.jpg    1x,
                  ./img/bestsellers/img-2_tab@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767.98px)"
                srcset="
                  ./img/bestsellers/img-2_mob.webp    1x,
                  ./img/bestsellers/img-2_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767.98px)"
                srcset="
                  ./img/bestsellers/img-2_mob.jpg    1x,
                  ./img/bestsellers/img-2_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="bestsellers-img"
                src="./img/bestsellers/img-2_mob.jpg"
                alt="Cozy Lounge Chair"
                width="343"
                height="193"
                loading="lazy"
              />
            </picture>
            <p class="backdrop-text">
              <span class="backdrop-subtext">Material:</span>Wood and soft
              finish made of natural material. <br />
              <span class="backdrop-subtext">Production time:</span> 1 week.
            </p>
          </div>
          <h3 class="bestsellers-subtitle">The Cozy Lounge Chair</h3>
          <p class="bestsellers-text">230$</p>
        </li>
        <li class="bestsellers-item">
          <div class="backdrop-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/bestsellers/img-3_desk.webp    1x,
                  ./img/bestsellers/img-3_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/bestsellers/img-3_desk.jpg    1x,
                  ./img/bestsellers/img-3_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/bestsellers/img-3_tab.webp    1x,
                  ./img/bestsellers/img-3_tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/bestsellers/img-3_tab.jpg    1x,
                  ./img/bestsellers/img-3_tab@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767.98px)"
                srcset="
                  ./img/bestsellers/img-3_mob.webp    1x,
                  ./img/bestsellers/img-3_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767.98px)"
                srcset="
                  ./img/bestsellers/img-3_mob.jpg    1x,
                  ./img/bestsellers/img-3_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="bestsellers-img"
                src="./img/bestsellers/img-3_mob.jpg"
                alt="Accent chair"
                width="343"
                height="193"
                loading="lazy"
              />
            </picture>
            <p class="backdrop-text">
              <span class="backdrop-subtext">Material:</span>Wood and soft
              finish made of natural material. <br />
              <span class="backdrop-subtext">Production time:</span> 1 week.
            </p>
          </div>
          <h3 class="bestsellers-subtitle">The industrial accent chair</h3>
          <p class="bestsellers-text">250$</p>
        </li>
        <li class="bestsellers-item">
          <div class="backdrop-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/bestsellers/img-4_desk.webp    1x,
                  ./img/bestsellers/img-4_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/bestsellers/img-4_desk.jpg    1x,
                  ./img/bestsellers/img-4_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/bestsellers/img-4_tab.webp    1x,
                  ./img/bestsellers/img-4_tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/bestsellers/img-4_tab.jpg    1x,
                  ./img/bestsellers/img-4_tab@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="bestsellers-img"
                src="./img/bestsellers/img-4_tab.jpg"
                alt="Sleek stand"
                width="336"
                height="193"
                loading="lazy"
              />
            </picture>
            <p class="backdrop-text">
              <span class="backdrop-subtext">Material:</span>Wood and soft
              finish made of natural material. <br />
              <span class="backdrop-subtext">Production time:</span> 1 week.
            </p>
          </div>
          <h3 class="bestsellers-subtitle">The sleek stand</h3>
          <p class="bestsellers-text">300$</p>
        </li>
        <li class="bestsellers-item">
          <div class="backdrop-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/bestsellers/img-5_desk.webp    1x,
                  ./img/bestsellers/img-5_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/bestsellers/img-5_desk.jpg    1x,
                  ./img/bestsellers/img-5_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/bestsellers/img-5_tab.webp    1x,
                  ./img/bestsellers/img-5_tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/bestsellers/img-5_tab.jpg    1x,
                  ./img/bestsellers/img-5_tab@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="bestsellers-img"
                src="./img/bestsellers/img-5_tab.jpg"
                alt="Minimalist sofa"
                width="336"
                height="193"
                loading="lazy"
              />
            </picture>
            <p class="backdrop-text">
              <span class="backdrop-subtext">Material:</span>Wood and soft
              finish made of natural material. <br />
              <span class="backdrop-subtext">Production time:</span> 1 week.
            </p>
          </div>
          <h3 class="bestsellers-subtitle">The minimalist sofa</h3>
          <p class="bestsellers-text">650$</p>
        </li>
      </ul>
    </div>
  </div>
</section>
