<section class="bestsellers-section">
  <h2 class="bestsellers-title">Bestsellers</h2>
  <div>
    <img
      class="bestsellers-img"
      src="./img/bestsellers/img-1_tab.jpg"
      alt="Platform bed"
      width="704"
      height="489"
    />
    <h3 class="bestsellers-subtitle">The modern platform bed</h3>
    <p class="bestsellers-text">750$</p>
  </div>
  <ul>
    <li>
      <img class="bestsellers-img" src="" alt="" />
      <h3 class="bestsellers-subtitle"></h3>
      <p class="bestsellers-text"></p>
    </li>
    <li>
      <img class="bestsellers-img" src="" alt="" />
      <h3 class="bestsellers-subtitle"></h3>
      <p class="bestsellers-text"></p>
    </li>
    <li>
      <img class="bestsellers-img" src="" alt="" />
      <h3 class="bestsellers-subtitle"></h3>
      <p class="bestsellers-text"></p>
    </li>
    <li>
      <img class="bestsellers-img" src="" alt="" />
      <h3 class="bestsellers-subtitle"></h3>
      <p class="bestsellers-text"></p>
    </li>
  </ul>
</section>
