<footer class="footer" id="contacts">
  <div class="footer-container container">
    <div class="footer-upper-style">
      <a class="footer-logo" href="./index.html" aria-label="company logo">
        <svg width="127px" height="16px">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="footer-social-links_svg">
        <li>
          <a
            class="footer-social-link"
            href="https://uk-ua.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="company facebook social page"
          >
            <svg width="28px" height="28px">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="company instagram social page"
          >
            <svg width="28px" height="28px">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="company youtube social page"
          >
            <svg width="28px" height="28px">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <ul class="footer-site-nav">
      <li><a href="#about-us">About us</a></li>
      <li><a href="#our-products">Our products</a></li>
      <li><a href="#prices">Prices</a></li>
      <li><a href="#bestsellers">Bestsellers</a></li>
      <li><a href="#reviews">Reviews</a></li>
    </ul>

    <address class="footer-address-list">
      <div class="footer-address-position">
        <a
          href="https://www.google.com/maps/place/%D0%9E%D0%B1%D0%BE%D0%BB%D0%BE%D0%BD%D1%81%D1%8C%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82,+14,+%D0%9A%D0%B8%D1%97%D0%B2,+04205/@50.5052788,30.494852,16z/data=!4m6!3m5!1s0x40d4d20e3b042c97:0x59eb7bd7f77d8916!8m2!3d50.5052114!4d30.4992079!16s%2Fg%2F11cncn6z8f?hl=uk-UK&entry=ttu"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-address-maplink"
          >Obolonsky Prospect, 14, Kyiv</a
        >
        <p class="footer-address-worktime">Daily 10:00-21:00</p>
      </div>
      <ul class="footer-tel">
        <li>
          <a href="tel:+380669384758" class="footer-telephone">+380669384758</a>
        </li>
        <li>
          <a href="tel:+380679384758" class="footer-telephone">+380679384758</a>
        </li>
      </ul>
      <a
        href="mailto:minimal.furniture@gmail.com"
        class="footer-address-mail mobile-hideout"
        >minimal.furniture@gmail.com</a
      >
    </address>

    <p class="footer-text-agreement">
      By using this website, you agree to the
      <a href="#" class="terms-and-policy">Terms of Service</a> and
      <a href="#" class="terms-and-policy">Privacy Policy</a>
    </p>
  </div>
</footer>
