<div class="footer-container container" id="#contacts">
  <a href="../../index.html" class="footer-logo">
    <svg width="127px" height="16px">
      <use href="../../img/icons.svg#icon-logo"></use>
    </svg>
  </a>

  <ul class="footer-site-nav">
    <li><a href="#About us">About us</a></li>
    <li><a href="#Our products">Our products</a></li>
    <li><a href="#Prices">Prices</a></li>
    <li><a href="#Bestsellers">Bestsellers</a></li>
    <li><a href="#Reviews">Reviews</a></li>
  </ul>

  <ul class="footer-social-links_svg">
    <li>
      <a
        href="https://uk-ua.facebook.com/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <svg width="28px" height="28px">
          <use href="../../img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="">
        <svg width="28px" height="28px">
          <use href="../../img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <svg width="28px" height="28px">
        <use href="../../img/icons.svg#icon-youtube"></use>
      </svg>
    </li>
  </ul>

  <address class="footer-address-list">
    <a href="" class="footer-address-maplink">Obolonsky Prospect, 14, Kyiv</a>'
    <p class="footer-address-worktime">Daily 10:00-21:00</p>
    <ul class="footer-tel">
      <li><a href="" class="footer-telephone">+380669384758</a></li>
      <li><a href="" class="footer-telephone">+380679384758</a></li>
    </ul>
    <a href="" class="footer-address-mail mobile-hideout"
      >minimal.furniture@gmail.com</a
    >
  </address>

  <p class="footer-text-agreement">
    By using this website, you agree to the
    <a href="#" class="terms-and-policy">Terms of Service</a> and
    <a href="#" class="terms-and-policy">Privacy Policy</a>
  </p>
</div>
