<div class="footer-container container">
  <svg width="127px" height="16px" class="footer-logo">
    <use href="../../img/icons.svg#icon-logo"></use>
  </svg>
  <ul class="footer-site-nav">
    <li><a href="#About us">About us</a></li>
    <li><a href="#Our products">Our products</a></li>
    <li>Prices</li>
    <li>Bestsellers</li>
    <li>Reviews</li>
  </ul>
  <ul class="footer-social-links_svg">
    <li>
      <svg width="28px" height="28px">
        <use href="../../img/icons.svg#icon-facebook"></use>
      </svg>
    </li>
    <li>
      <svg width="28px" height="28px">
        <use href="../../img/icons.svg#icon-instagram"></use>
      </svg>
    </li>
    <li>
      <svg width="28px" height="28px">
        <use href="../../img/icons.svg#icon-youtube"></use>
      </svg>
    </li>
  </ul>
  <address>
    <a href="" class="footer-address-maplink">Obolonsky Prospect, 14, Kyiv</a>'
    <p class="footer-address-worktime">Daily 10:00-21:00</p>
    <ul class="footer-tel">
      <li>+380669384758</li>
      <li>+380679384758</li>
    </ul>
  </address>
</div>
