<header class="header">
  <div class="container nav-container">
    <a href="" class="logo">
      <svg class="logo-icon" width="100" height="16" aria-label="logotype">
        <use href="./img/icons.svg#icon-logo"></use>
    </svg>
    </a>
    <nav class="main-nav">
      <ul class="menu nav-list">
        <li class="nav-item">
          <a href="#about-us" class="nav-link ">About us</a>
        </li>
        <li class="nav-item">
          <a href="#our-products" class="nav-link ">Our products</a>
        </li>
        <li class="nav-item">
          <a href="#prices" class="nav-link">Prices</a>
        </li>
        <li class="nav-item">
          <a href="#bestsellers" class="nav-link">Bestsellers</a>
        </li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
        <li class="nav-item">
          <a href="#contacts" class="nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <!--  button menu -->
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="burger-icon" width="32" height="32" aria-label="mobile menu button">
        <use href="./img/icons.svg#icon-menu-burger"></use>
    </svg>
  </button>
  </div>
</header>



 
