<section class="section-our-products">
  <div class="container" id="our-products">
    <h2 class="section-our-products-title">Our products</h2>
    <ul class="section-our-products-list list">
      <li class="section-our-products-list-item">
        <picture>
          <source
            srcset="
              ./img/our-products/product1_desktop.webp     1x,
              ./img/our-products/product1_desktop_@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/our-products/product1_desktop.jpg     1x,
              ./img/our-products/product1_desktop_@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/our-products/product1_tablet.webp     1x,
              ./img/our-products/product1_tablet_@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/our-products/product1_tablet.jpg     1x,
              ./img/our-products/product1_tablet_@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/our-products/product1_mobil.webp     1x,
              ./img/our-products/product1_mobil_@2x.webp 2x
            "
            media="(max-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/our-products/product1_mobil.jpg     1x,
              ./img/our-products/product1_mobil_@2x.jpg 2x
            "
            media="(max-width: 768px)"
            type="image/jpg"
          />
          <img
            class="section-our-products-img"
            src="./img/our-products/product1_tablet.jpg"
            alt="White dressing table in the white room"
            width="344"
            height="300"
          />
        </picture>
        <h3 class="section-our-products-list-title">
          Minimalist storage solutions
        </h3>
      </li>
      <li class="section-our-products-list-item">
        <picture>
          <source
            srcset="
              ./img/our-products/product2_desktop.webp     1x,
              ./img/our-products/product2_desktop_@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/our-products/product2_desktop.jpg     1x,
              ./img/our-products/product2_desktop_@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/our-products/product2_tablet.webp     1x,
              ./img/our-products/product2_tablet_@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/our-products/product2_tablet.jpg     1x,
              ./img/our-products/product2_tablet_@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="section-our-products-img"
            src="./img/our-products/product2_tablet.jpg"
            alt="Blue sofa on wooden legs in a gray room"
            width="344"
            height="300"
          />
        </picture>

        <h3 class="section-our-products-list-title">
          Handcrafted minimalist seating
        </h3>
      </li>
      <li class="section-our-products-list-item">
        <picture>
          <source
            srcset="
              ./img/our-products/product3_desktop.webp     1x,
              ./img/our-products/product3_desktop_@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/our-products/product3_desktop.jpg     1x,
              ./img/our-products/product3_desktop_@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpg"
          />
          <img
            class="section-our-products-img"
            src="./img/our-products/product3_desktop.jpg"
            alt="Marble table with golden legs"
            width="312"
            height="300"
          />
        </picture>

        <h3 class="section-our-products-list-title">Sleek and simple tables</h3>
      </li>
      <li class="section-our-products-list-item">
        <picture>
          <source
            srcset="
              ./img/our-products/product4_desktop.jpg     1x,
              ./img/our-products/product4_desktop_@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/our-products/product4_desktop.webp       1x,
              ./img/our-products/product4_desktop_@2x.webp2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <img
            class="section-our-products-img"
            src="./img/our-products/product4_desktop.jpg"
            alt="A high blue chair on wooden legs in a gray room"
            width="312"
            height="300"
          />
        </picture>
        <h3 class="section-our-products-list-title">
          Minimalist seating for every space
        </h3>
      </li>
    </ul>
  </div>
</section>
