<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS Styles -->
    <link rel="stylesheet" href="/css/sections/about_us.css" type="text/css" />
    <link rel="stylesheet" href="/src/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/src/css/reset.css" type="text/css" />
  </head>
  <body>
    <section class="prices-section">
      <div class="prices-container">
        <h2 class="prices-hidden-title visually-hidden">
          Chairs Tables Dressers Sofas Price.
        </h2>
        <ul class="prices-list">
          <li class="prices-list-item">
            <p class="prices-list-text">Chairs</p>
            <span class="prices-list-span">from 200$</span>
          </li>
          <li class="prices-list-item">
            <p class="prices-list-text">Tables</p>
            <span class="prices-list-span">from 250$</span>
          </li>
          <li class="prices-list-item">
            <p class="prices-list-text">Dressers</p>
            <span class="prices-list-span">from 300$</span>
          </li>
          <li class="prices-list-item">
            <p class="prices-list-text">Sofas</p>
            <span class="prices-list-span">from 500$</span>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
