
<section class="prices-section" id="prices">
  <div class="prices-container container scale-up-center">

    <h2 class="prices-hidden-title visually-hidden">
      Chairs Tables Dressers Sofas Price.
    </h2>
    <ul class="prices-list">
      <li class="prices-list-item">
        <a class="prices-list-text text-focus-in" href="https://www.example.com"
          >Chairs</a
        >
        <span class="prices-list-span text-focus-in">from 200$</span>
      </li>
      <li class="prices-list-item">
        <a class="prices-list-text text-focus-in" href="https://www.example.com"
          >Tables</a
        >
        <span class="prices-list-span text-focus-in">from 250$</span>
      </li>
      <li class="prices-list-item">
        <a class="prices-list-text text-focus-in" href="https://www.example.com"
          >Dressers</a
        >
        <span class="prices-list-span text-focus-in">from 300$</span>
      </li>
      <li class="prices-list-item">
        <a class="prices-list-text text-focus-in" href="https://www.example.com"
          >Sofas</a
        >
        <span class="prices-list-span text-focus-in">from 500$</span>
      </li>
    </ul>
  </div>
</section>

