/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./sections/header.css');
@import url('./sections/about_us.css');
@import url('./sections/our_products.css');
@import url('./sections/prices.css');
@import url('./sections/bestsellers.css');
@import url('./sections/reviews.css');
@import url('./sections/newsletter.css');
@import url('./sections/contacts.css');
@import url('./sections/footer.css');

:root {
/* colors */
--white: #FFFFFF;
--light-blue: #F7FAFF;
--background: #D9D9D9;
--bc-medium: #B6B6B6;
--bc-dark: #7A7A7A;
----blue-font: #0A224A;


}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}